html {
   height: 100%
   font-family: Aharoni;
   test-size: 100%;
   background-color: white;
   }

.nav {
  font-family: Aharoni;
  position: fixed;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
}

.nav a {
  float: left;
  font-family: Aharoni;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  background-color: #250249;
  color: grey;
}

.main {
  margin-top: 60px;
font-size: 40px;
}

p {
  marign: 0 0 20px;
  font-size: 16pt;
  color: black;
}

ul#edu li {
  display:inline;
}